# Python
__pycache__/
*.py[cod]
*$py.class

# IDE / System
.vscode/
.idea/
*.DS_Store
*.swp

# Generated Data Files (DO NOT UPLOAD THESE TO GITHUB)
*.json
*.log

# Generated Directories
/logs/
/bodies/
